<div class="modal-header"> 
    <h4 class="modal-title" id="myModalLabel">Add New Label</h4>
    <button type="button" id="myModalClose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <from class="form-horizontal form-material">
        <div class="form-group">
            <div class="col-md-12 m-b-20">
                <input type="text" class="form-control" placeholder="Label name">
            </div>
            <div class="col-md-12 m-b-20">
                <textarea  rows="5" class="form-control" placeholder="Description"></textarea> 
            </div> 
        </div>
    </from>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
</div>
<script >
   
</script>
